<footer>
    <p>All Rights Are Reserved</p>
    Design By @Shubham Karad <i class="bi bi-heart"></i>


    <div class="footercontact">
                        
        <div ><a href="callto:7397847916" class="bi bi-phone" id="a" target="blank" ></a> </div>
        <div ><a href="mailto:shubham.karad12@gmail.com" class="bi bi-envelope" id="a" target="blank"></a> </div>
        <div ><a href="https://www.instagram.com/the_shubham12/"class="bi bi-instagram" id="a" target="blank"></a></div>
        <div ><a href="https://github.com/Shubhamkarad121197" class="bi bi-github" id="a" target="blank" ></a> </div>
        <div ><a href="https://www.facebook.com/shubham.karad.712/" class="bi bi-facebook" id="a" target="blank" ></a> </div>
        <div ><a href="https://twitter.com/the_shubh12am" class="bi bi-twitter" id="a" target="blank" ></a> </div>
                      
    </div>
</footer>
